<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/CREU-Poly-17/css/main.css">
	</head>
	<body>
		<h1 class = "head">CREU-17</h1>
		<nav>
    		<ul>
        		<li><a href="/CREU-Poly-17/">Home</a></li>
	        	<li><a href="/CREU-Poly-17/About/">About</a></li>
        		<li><a href="/CREU-Poly-17/Blog/">Blog</a></li>
    		</ul>
		</nav>
		<h2 class = "head">{{page.title}}</h2>
			<div class="container")
			  {{ content }}
			</div><!-- /.container -->
		<footer>
    		<ul>
        		<p><a href="mailto:vcedgar@asu.edu">email</a></p>
        		<p><a href="https://github.com/vcedgar">github</a></p>
			</ul>
		</footer>
	</body>
</html>
