<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<script>
			var head;
			if(page.title == "About" || page.title == "Blog" || page.title == "CREU-17"){
				head = {{ page.title }}
			}
			else{
				head = "Blog"
			}
		</script>
		<h1 class = "head"></h1>
		<nav>
    		<ul>
        		<li><a href="/CREU-Poly-17/">Home</a></li>
	        	<li><a href="about">About</a></li>
        		<li><a href="blog">Blog</a></li>
    		</ul>
		</nav>
			<div class="container")
			  {{ content }}
			</div><!-- /.container -->
		<footer>
    		<ul>
        		<p><a href="mailto:vcedgar@asu.edu">email</a></p>
        		<p><a href="https://github.com/vcedgar">github</a></p>
			</ul>
		</footer>
	</body>
</html>
