<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/CREU-Poly-17/">Home</a></li>
	        	<li><a href="CREU-Poly-17/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
			<div class="container")
			  {{ content }}
			</div><!-- /.container -->
		<footer>
    		<ul>
        		<p><a href="mailto:vcedgar@asu.edu">email</a></p>
        		<p><a href="https://github.com/vcedgar">github</a></p>
			</ul>
		</footer>
	</body>
</html>
